@font-face{
    font-family: 'DMserif';
    src: url(../fonts/DMSerifDisplay-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'DMserif';
    src: url(../fonts/DMSerifDisplay-Italic.woff2) format('woff2');
    font-style: italic;
}
@font-face{
    font-family: 'InterTight';
    src: url(../fonts/InterTight-Light.woff2) format('woff2');
    font-weight: 300;
}
@font-face{
    font-family: 'InterTight';
    src: url(../fonts/InterTight-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'InterTight';
    src: url(../fonts/InterTight-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face{
    font-family: 'InterTight';
    src: url(../fonts/InterTight-SemiBold.woff2) format('woff2');
    font-weight: 600;
}
@font-face{
    font-family: 'InterTight';
    src: url(../fonts/InterTight-Bold.woff2) format('woff2');
    font-weight: 700;
}