/*반응형 화면 크기*/
$mobile-max: 767px; //320
$tablet-max: 1023px; // 768
$tablet-min: 768px; // 768

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
    @media (max-width: $mobile-max){
      @content;
    }
  }
  
  /*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
  @mixin tablet{
    @media (min-width: $tablet-min) and (max-width: $tablet-max){
      @content;
    }
}